/* Import the custom font definitions */
@import url("fonts/fonts.css");

body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
    background-color:#FFFFFF;
    font-family: 'Charter-JK';
}

img{
    max-width:650px;
}

h1,h2,h3{
    line-height:1.2
}


.tooltip {
    display: inline;
    position: relative;
    cursor: pointer;
    border: solid 1px black;
}

.tooltip-inner {
    visibility: hidden;
    position: absolute;
    background: #999;
    cursor: pointer;
    padding: 1em;
    color: white;
    border-radius: 0.5em;
}

.tooltip_visible .tooltip-inner {
    visibility: visible;
    right: -1px; bottom: 1rem;
}

.theorem-body {
    font-style: italic;
}

.theorem-title {
    font-style: normal;
    font-weight: bold;
}

.exercise-title {
    font-weight: bold;
}

.solution-title{
    font-style: italic;
}